/*import font open sans all weight*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;

    --background-color-dark: #1a1a1a;
    --background-color-neutral: #333333;
    --background-color-light: #4d4d4d;
    --font-color: #f3f3f3;
    --primary-color: #e7fffd;

    --padding-display: 1rem;

    --rect-width: 1rem;
    --rect-height: 1rem;

    --slider-size: 25px;

    --time-out: 0.2s
}

*> {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--background-color-dark);
    color: var(--font-color);

    transition: all 0.25s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
}

.title {
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    background-color: var(--background-color-neutral);
    border-radius: 0.5rem;
}

.control {
    margin: 0rem 0rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.btn {
    margin: 0rem 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: 0;

    font-size: 1.05rem;
    font-weight: 700;

    color: var(--font-color);
    background-color: var(--background-color-light);

    cursor: pointer;
}

.btn:hover {
    opacity: 0.75;
}

.display {
    width: 100%;
    margin: 1rem 0rem;
    box-sizing: border-box;
}

.simulation,
.queue,
.time {
    width: 100%;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    background-color: var(--background-color-neutral);
    box-sizing: border-box;
    border-radius: 1rem;
}

.row,
.queue-row {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    transition: all var(--time-out) ease-in-out;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.qe {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.spacer {
    flex: 1;
}

.rect {
    flex: 1;
    height: var(--rect-height);
    opacity: 0;
    transition: all var(--time-out) ease-in-out;

    border-bottom: 0px solid var(--primary-color);
    border-top: 0px solid var(--primary-color);
}

.fill,
.outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;
}

.fill {
    animation: fill var(--time-out) ease-in-out;
    height: var(--rect-height);
    background-color: var(--primary-color);
}

.fill::before {
    content: "";
    flex: 0;
    height: var(--rect-height);
    background-color: var(--primary-color);
    animation: fillbefore var(--time-out) ease-in-out;
}

.outline {
    animation: outline var(--time-out) ease-in-out;
    height: var(--rect-height);

    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    background-color: transparent;
}

.outline::before {
    content: "";
    flex: 0;

    height: var(--rect-height);
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    background-color: transparent;

    animation: fillbefore var(--time-out) ease-in-out;
}

@keyframes fillbefore {
    0% {
        flex: 0;
    }

    100% {
        flex: 1;
    }
}


@keyframes fill {
    0% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: var(--primary-color);
    }
}

@keyframes outline {
    0% {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }

    99% {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }

    100% {
        border-bottom: 1px solid var(--primary-color);
        border-top: 1px solid var(--primary-color);
    }
}

.start {
    border-left: 1px solid var(--primary-color);
}

.end {
    border-right: 1px solid var(--primary-color);
}

dialog {
    color: var(--font-color);
    padding: 2rem;
    background-color: var(--background-color-neutral);
    border: 0;
}

dialog .process {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

dialog .button {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: var(--slider-size);
    background: var(--background-color-light);
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: var(--slider-size);
    height: var(--slider-size);

    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;

    transition: all 2.25s ease-in-out;
}


.input-process {
    height: 2rem;

    margin: 0.5rem 0.5rem;
    padding: 0rem 1rem;

    background-color: var(--background-color-light);
    color: var(--font-color);

    border: none;
    border-radius: 2rem;
}

.select,
.option {
    background-color: var(--background-color-light);
    color: var(--primary-color);
}

.select {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.25rem;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 3rem;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.option {
    height: 2rem;
}